@using Logistic.UILayer.Models
@model List<TblCustomer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
    int sayac = 0;
}


<h2>Customer List</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th>Mail Address</th>
        <th>Password</th>
    </tr>
    @foreach (var item in Model)
    {
        sayac = sayac + 1;
        <tr>
            <td>@sayac</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerSurname</td>
            <td>@item.CustomerPhone</td>
            <td>@item.CustomerMail</td>
            <td>@item.CustomerPassword</td>
            <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-success">Update</a></td>
        </tr>
    }

</table>
<a href="/Customer/AddCustomer/" class="btn btn-info">Add New Customer</a>