@using Logistic.UILayer.Models
@model List<TblOrder>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewAdminLayout.cshtml";
}

<h2>Order List</h2>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Customer</th>
        <th>From Where</th>
        <th>To Where</th>
        <th>Product</th>
        <th>Size</th>
        <th>Price</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
            {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.TblCustomer.CustomerName @item.TblCustomer.CustomerSurname</td>
                <td>@item.TblCity.CityName</td>
                <td>@item.TblCity1.CityName</td>
                <td>@item.OrderProduct</td>
                <td>@item.OrderSize</td>
                <td>@item.OrderPrice</td>
                <td><a href="/Order/DeleteOrder/@item.OrderID" class="btn btn-danger">Delete</a></td>
                <td><a href="/Order/UpdateOrder/@item.OrderID" class="btn btn-success">Update</a></td>
            </tr>
            }
</table>
<a href="/Order/AddOrder/" class="btn btn-info">Add New Order</a>