@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@{ Html.RenderAction("PartialHead", "Default");}
<body>
    @Html.Action("PartialHeader")
    <!-- Slider -->

    @Html.Action("PartialSlider")
    <!-- //Slider -->
    <!-- bootstrap-modal-pop-up -->
    @Html.Action("PartialModal")
    <!-- //bootstrap-modal-pop-up -->
    <!-- banner-bottom -->
    @Html.Action("PartialBanner")
    <!-- //banner-bottom -->
    <!-- team -->
    @Html.Action("PartialTeam")
    <!-- //team -->
    <!-- Clients -->
    @Html.Action("PartialTestimonial")
    <!-- //Clients -->
    <!-- Counter -->
    @Html.Action("PartialCounter")
    <div class="clearfix"> </div>
    <!-- //Counter -->
    <!-- our blog -->
    @Html.Action("PartialBlog")
    <!-- //our blog -->
    <!-- footer -->
    @Html.Action("PartialFooter")
    <!-- //footer -->
    <!-- js-scripts -->
    @Html.Partial("PartialScript")
    <!-- //js-scripts -->
</body>
</html>
@RenderBody()
